/* ↓HEADER↓ */
header {
  padding: 0 10vw;
  height: 8vh;
}

#menuBar {
  display: none;
}

#deskMenu {
  display: flex;
  gap: 32px;
  list-style: none;
}

#deskMenu a {
  text-decoration: none;
  color: #fff;
}

/* ↓LANDING SECTION↓ */

#landing {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  background: no-repeat  right url("../img/AboutDesktop.png") #1c1a19;
  background-size: 35vw auto;
}

#landingText {
  width: 566px;
}

#socialMedia {
  width: 10vw;
  box-sizing: border-box;
  padding: 36px;
  order: -1;
  flex-direction: column;
}
