/* ↓HEADER↓ */
header {
  padding: 0 12vw 0 10vw;
}

#menuBar {
  display: none;
}

#deskMenu {
  display: flex;
  gap: 32px;
  list-style: none;
}

#deskMenu a {
  text-decoration: none;
  color: #fff;
}

/* ↓LANDING SECTION↓ */

#landing {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  background: no-repeat  right url("../img/IllustrationDesktop.png") #1c1a19;
  background-size: 40vw auto;
}

#landingText {
  padding-right: 45vw;
}

#socialMedia {
  width: 10vw;
  box-sizing: border-box;
  padding: 36px;
  order: -1;
  flex-direction: column;
}

/* ↓WORKS↓ */

#pageContent {
  display: grid;
  margin: 0 10vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 307px 1fr repeat(2, 435px);
  gap: 24px;

  /* ↑repeat(n++, ) for ea workItem.↑ */
}

#contTitle {
  font-size: 40px;
  grid-column: 1/2;
  border: none;
}

#deskLine {
  display: block;
  grid-column: 2/4;
  align-self: center;
  width: 100%;
}

#featured {
  grid-column: 1/4;
  flex-direction: row;
  gap: 24px;
}

#featImg {
  width: 200%;
}

.work {
  grid-column: span 1;
  padding-bottom: 16px;
}

.seeWork {
  display: none;
}

/* ↓ABOUT↓ */

#me {
  background: no-repeat right url("../img/AboutDesktop.png");
  background-size: 40vw auto;
  padding: 0 55vw 0 10vw;
}

#proficiency {
  padding: 50px 10vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

/* ↓CONTACT↓ */

#endLine {
  display: none;
}

#contact {
  height: auto;
  flex-direction: row;
  padding: 0 10vw;
  gap: 24px;
}

#form {
  width: 60vw;
}

.contactBtn {
  align-self: flex-start;
}

/* ↓WORKS HOVER↓ */

.work:hover {
  background: url("../img/WorkPlaceholderSolid.png");
  background-size: cover;
  background-position: bottom;
  padding-bottom: 0;
}

.work:hover .seeWork {
  display: block;
}

.work:hover .languages,
.work:hover h3,
.work:hover p {
  display: none;
}

#contact h3 {
  width: 35vw;
  text-align: left;
}

/* POPUP WINDOWS */

.popWindow {
  height: auto;
  overflow: inherit;
}

.divInfo {
  display: flex;
  gap: 20px;
}
