body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  background-color: #3c3a39;
  height: 15vh;
}

.statusBar {
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#clock {
  width: 54px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.toolBar {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

main {
  background-color: #1c1a19;
  height: 85vh;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro {
  margin: 0;
  color: #ff6b00;
  font-family: "Crete Round", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 56px;
  line-height: 64px;
}

#enphasis {
  margin: 12px 0;
  color: #fff5e1;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

#landingText {
  margin: 0;
  color: #fff;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#socialMedia {
  margin-top: 12px;
}

.socialIco {
  width: 40px;
  height: 40px;
}
