body {
  margin: 0;
  font-family: "Inter", Palatino, "Palatino Linotype", "Palatino LTSTD", Georgia, serif;
  line-height: 24px;
}

body h2,
body h3 {
  font-family: "Crete Round", Palatino, "Palatino Linotype", "Palatino LTSTD", Georgia, serif;
  margin: 0;
}

body h3 {
  font-size: 32px;
  line-height: 44px;
}

/* ↓HEADER↓ */

header {
  width: 100vw;
  box-sizing: border-box;
  padding: 1vh 24px 0;
  position: fixed;
  background-color: #3c3a39;
}

#toolBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#logo {
  margin-bottom: 5px;
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  line-height: 24px;
}

#deskMenu {
  display: none;
}

/* ↓LANDING SECTION↓ */

#landing {
  background: no-repeat bottom right url("../img/Illustration.png") #1c1a19;
  height: 100vh;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro {
  margin: 0;
  color: #ff6b00;
  font-family: "Crete Round", Palatino, "Palatino Linotype", "Palatino LTSTD", Georgia, serif;
  font-size: 56px;
  line-height: 64px;
  animation: 1s slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

#enphasis {
  margin: 12px 0;
  color: #fff5e1;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

#landingText {
  margin: 0;
  color: #fff;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

#socialMedia {
  display: flex;
  padding: 0;
  list-style: none;
}

.socialIco {
  width: 40px;
  height: 40px;
}

/* ↓WORKS↓ */

#pageContent {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: 307px 95vh repeat(6, 410px);

  /* ↑repeat(n++, ) for ea workItem.↑ */
}

#contTitle {
  grid-column: 2/3;
  align-self: center;
  text-align: center;
  font-size: 40px;
  line-height: 52px;
  padding: 48px 0;
  border-bottom: solid #212121 1px;
}

#deskLine {
  display: none;
}

#featured {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #091e42;
}

#featImg {
  width: 100%;
}

#featImg img {
  width: 100%;
}

.languages {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin: 0;
}

.featLang {
  padding: 10px 12px;
  border: solid #8993a4 1px;
  font-size: 15px;
  line-height: 20px;
}

.seeFeat {
  margin-top: 24px;
  border: none;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px;
  width: 124px;
}

.work {
  margin-top: 24px;
  padding: 0 16px;
  grid-column: 2/3;
  background: url("../img/WorkPlaceholder.png");
  background-size: cover;
  background-position: bottom;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lang {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  line-height: 20px;
}

.seeWork {
  border: none;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px;
  margin: 22px -16px 0;
}

#about {
  background: #1c1a19;
}

/* ↓ABOUT↓ */

#me {
  background: no-repeat bottom right url("../img/AboutIllustration.png");
  height: 95vh;
  margin-top: 120px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f4f5f7;
}

#meTitle {
  align-self: center;
  margin: 0;
  color: #ff6b00;
  font-family: "Crete Round", Palatino, "Palatino Linotype", "Palatino LTSTD", Georgia, serif;
  font-size: 72px;
  line-height: 88px;
}

.resume {
  border: none;
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px;
  width: 161px;
}

/* ↓PROFICIENCY↓ */

#proficiency {
  margin: 0 24px;
  padding: 130px 0;
  border-top: solid #fff 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f5f7;
}

.prof {
  padding: 0;
  list-style: none;
  text-align: center;
}

.prof li {
  margin: 32px;
}

#profLanguage {
  list-style-image: url("../img/Bullet01.png");
}

#profFrame {
  list-style-image: url("../img/Bullet02.png");
}

#profSkills {
  list-style-image: url("../img/Bullet03.png");
}

/* ↓CONTACT↓ */

#contact {
  height: 95vh;
  margin-top: 120px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact h3 {
  color: #172b4d;
  font-family: "Inter", Palatino, "Palatino Linotype", "Palatino LTSTD", Georgia, serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textInput {
  border-style: none;
  border-bottom: solid #eee 1px;
  padding: 10px 10px;
}

#message {
  height: 100px;
  border-style: none;
  background: #fbf8f7;
}

.contactBtn {
  align-self: center;
  width: 131px;
  border-style: none;
  padding: 12px;
  font-size: 17px;
  font-weight: bolder;
  line-height: 24px;
  color: #fff;
  background-color: #ff6b00;
}

/* ↓SOCIAL B MEDIA↓ */

footer {
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#socialBMedia {
  width: 100%;
  border-top: solid #dfe1e6 1px;
  padding: 25px 0 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

#endLine {
  margin: 0 0 8px;
  width: 134px;
  height: 5px;
}

/* ↓BUTTONS STYLE↓ */

.orangeBtn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  padding: 10px;
  border: solid #f55800 2px;
}

.orangeBtn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.orangeBtn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

#featImg:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

/* ↓ACCESSIBILITY↓ */
.orangeBtn {
  background-color: #B84D00;
}

.work h3,
.work p {
  filter: invert(1);
}
