body{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
}
header{
  background-color: #3C3A39;
}
.statusBar{
  border: solid cyan;
  /* ^ Only for test ^ */
  height: 44px;
  padding: 13px;
}
.clock{
  width: 54px;
  color: #FFFFFF;
  text-align: center;
}
.toolBar{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
h1{
  color: #FFFFFF;
  font-size: 18px;
}
nav {
  border: solid goldenrod;
  /* ^ Only for test ^ */
  width: 18px;
  height: 12px;
}
